<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-icon name="md-arrow-back" color="white" class="back" (click)="getPrev()"></ion-icon>

  <section class="first" *ngIf="step == 1">
      <h2>Hello toi ! Moi c’est <br /><span class="emphasize">Etok</span> ! Tu es prêt à commencer ?</h2>
      <div class="boutons">
      <button ion-button round color="primary" (tap)="nextStep()">C'est parti</button>
        </div>
      <p (tap)="login()" class="compteExist">Tu as déjà un compte ? C'est par ici !</p>
  </section>

  <section class="bg" *ngIf="step == 2">
    <h2>Quel est<br /> ton petit nom ? </h2>

    <form [formGroup]="user" (ngSubmit)="setUser()">
      <ion-item>
        <ion-input type="text"  formControlName="name" placeholder="Prénom"></ion-input>
      </ion-item>
        <div class="boutons">
        <button ion-button round color="primary" type="submit" [disabled]="!user.valid">Valider <ion-icon name="md-arrow-forward" class="arrow"></ion-icon></button>
        </div>
    </form>
  </section>

  <section class="bg" *ngIf="step == 3">
    <h2>Quelle est <br />ton adresse mail ? </h2>

    <form [formGroup]="account" (ngSubmit)="setAccount()">
      <ion-item>
        <ion-input type="email"  formControlName="email" placeholder="E-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="confirmpassword" placeholder="Confirme ton mot de passe"></ion-input>
      </ion-item>
        <div class="boutons">
      <button ion-button round color="primary" type="submit" [disabled]="!account.valid">Valider <ion-icon name="arrow-forward" class="arrow"></ion-icon></button>
        </div>
    </form>
  </section>

  <section class="bg" *ngIf="step == 4">
    <h2>Quand aimes-tu <br />sortir ?</h2>
    <ion-list>
      <ion-item>
        <ion-label>Lundi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Mardi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Mercredi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Jeudi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Vendredi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Samedi</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Dimanche</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>

      <div class="boutons day">
        <button ion-button round color="primary" (tap)="nextStep()" [disabled]="!account.valid"> Valider <ion-icon name="md-arrow-forward" class="arrow"></ion-icon></button>
      </div>
  </section>

  <section class="bg" *ngIf="step == 5">
    <h2>Puis-je savoir où tu es ?</h2>
    <p class="descriptionlocalisation">Je peux te proposer des évènements
en fonction de tes goûts et à coté de chez toi.</p>
      <div class="boutons">
    <button ion-button round color="primary" (tap)="nextStep()"> J'accepte, tu gères </button>
      </div>
  </section>

  <section *ngIf="step == 6">
    
      <img class="gifnickel" src="../assets/imgs/HAND.png"/>
      <h2 class="nickel">Nickel !</h2>
      <div class="boutons">
    <button ion-button round color="primary" (tap)="goHome()"> Commencer </button>
      </div>
  </section>

</ion-content>
