page-start {
    background-image: url('../assets/imgs/rectangleinscription.svg');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    .back {
        font-size: 30px;
        position: relative;
        z-index: 9;
    }
    .arrow {
        margin-left: 15px;
    }
    .toolbar {
        .toolbar-background {
          border-bottom: 0;
          background: transparent;
        }
      }

    .day {
        button {
            position: absolute;
            right: 1rem;
            bottom: 0rem;
            padding: 18px 40px;
        }
    }

    .first {
        button {
            padding: 17px 50px;
        }
        h2 {
            margin-top: 90px !important;
            margin-left: 10px;
        }
    }

    section.bg {
        h2 {
            margin-top: 90px !important;
            margin-left: 10px;
        }
    }
    .step1 {
        margin: 10px;
        margin-top: 60px !important;
        width: 80%;
    }
    
    ion-content{
        
        .scroll-content{
            margin-top: 0!important;
        }
        
        .fixed-content{
        margin-top: 0!important;
        }
        section{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1.7rem;
            
            ion-list{
                margin-top: 40% !important;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                ion-item{
                    .item-inner{
                        padding: 0!important;
                        border: 0!important;
                    }
                    &.item-checkbox-checked{
                        background-color: #38AAAE!important;
                    }
                    &.item{
                        &.item-block{
                            &.item-ios{
                                padding: 0rem 0.5rem;
                                display: inline;
                                width: 9rem;
                                margin: 0.5rem 0.2rem;
                                border: 0;
                                border-radius: 50px;
                                background-color: #5AD8D7;
                                color: white;
                                text-transform: lowercase;
                                font-size: 1.4rem;
                                text-align: center;
                                min-height: 38px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    ion-label{
                        margin: 0!important;
                        padding: 0;
                    }
                    ion-checkbox{
                        position: absolute!important;
                        width:100%;
                        left: 0;
                        margin: 0!important;
                        height: 100%;
                        background-color: red;
                        opacity: 0;
                    }
                    
                }
            }
            
            &.first{
                background-image: url('../assets/imgs/etok_grand.png');
                background-color: #fff;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right 140px;
                background-size: 40%;
                
                .boutons{
                    bottom: 4rem!important;
                }
                
                button{
                    &[type="submit"]{
                        left: 50%;
                        right: auto!important;
                        transform: translate(-50%,0%);
                    }
                }
                
                .compteExist{
                    position: absolute;
                    text-align: center;
                    bottom: 0.5rem;
                    font-size: 1.2rem;
                    width: 100%;
                    left: 50%;
                    transform: translate(-50%,0%);
                    color: #5AD8D7;
                    text-decoration: underline;
                }
            }
            
            
            &.bg{
                background-image: url('../assets/imgs/rectangleinscription.svg');
                background-color: #fff;
                background-size: contain;
                background-repeat: no-repeat;
                
                h2{
                    color: white;
                    width: 90%;
                }
                
                form{
                    margin-top: 40%;
                    ion-item{
                        ion-input{
                            &::placeholder{
                                color: black;
                            }
                        }
                    }
                }
                
                .descriptionlocalisation{
                    margin-top: 0;
                    padding-left: 10px;
                    width: 70%;
                    color: white;
                    font-weight: 600;
                }
            }

            h2{
                margin-top: 3rem!important;
            font-size: 2.7rem;
           font-family: 'AvenirNextLTPro-Demi'; 
        }
            
            .gifnickel{
                width: 15rem;
                margin: 0 auto;
                display: block;
                margin-top: 15rem;
            }
            .nickel{
                text-align: center;
            }
            
            .emphasize{
                color: #5AD8D7;
                font-size: 2.7rem;
                   font-family: 'AvenirNextLTPro-Demi'; 
            }
            
            .boutons{
                position: absolute;
                bottom: 2rem;
                display: flex;
                justify-content: space-evenly;
                left: 0;
                right: 0;
                    button{
                        background-color: black;
                        color: white;
                        text-transform: uppercase;
                        &[type="submit"]{
                            position: absolute;
                            right: 1rem;
                            bottom: 0rem;
                            padding: 18px 40px;
                        }
                    }
                }
            }
            
            
            
        }
    }

