<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content>
    <h2>Connecte-toi !</h2>
  <form #loginForm="ngForm" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label class="label" stacked color="primary">Nom d'utilisateur</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
          Attention, un login est requis !
      </p>

      <ion-item>
        <ion-label class="label" stacked color="primary">Mot de passe</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
        Attention, un mot de passe est requis !
      </p>
    </ion-list>
      <button ion-button (click)="onLogin(loginForm)" round color="primary" type="submit">Valider</button>
  </form>

</ion-content>
