page-login {
    * {
        font-family: 'AvenirNextLTPro-Regular';
    }
    background-image: url(../../assets/imgs/rectangleinscription.svg);
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    .toolbar {
        .toolbar-background {
            border-bottom: 0;
            background: transparent;
        }
    }
    
    ion-content {
        background-color: transparent;
        
        h2{
            margin-top: 5rem;
            font-size: 2.8rem;
            color: white;
            text-align: left;
            padding: 0rem 1.5rem;
            font-family: 'AvenirNextLTPro-Demi';
        }
        
        form {
            margin-top: 10rem;
            
            
            
            button{
                &.button-ios{
                background-color: black;
                        color: white;
                        text-transform: uppercase;
                    position: absolute;
                    bottom: 1.5rem;
                    left: 50%;
                    transform: translate(-50%,0%);
                }
            }
        }
            &.content-ios {
                background-color: transparent;
            }
            ion-item {
                .label{
                    color: black!important;
                    font-family: 'AvenirNextLTPro-Demi';
                }
                input{
                    &.text-input{
                        &.text-input-ios{
                            border-bottom: solid rgba(0,0,0,0.2) 1px;
                            padding: 0.25rem 0rem;
                        }
                    }
                }
                &.item {
                    &.item-block {
                        &.item-ios {
                            background-color: transparent;
                        }
                    }
                }
            }
            .list {
                margin-bottom: 0;
            }
        }
    }