page-subscribe {
    ion-content {
        .fermer {
            position: absolute;
            top: 2rem;
            right: 2rem;
            color: white!important;
            z-index: 1000;
            font-size: 3rem;
        }
        .scroll-content {
            margin-top: 0!important;
            background-color: #5AD6D9;
            padding-top: 8rem!important;
        }
        h2 {
            text-align: center;
            font-size: 2.7rem;
            color: white;
            font-family: 'AvenirNextLTPro-Demi';
            margin-bottom: 3rem;
        }
        .abonnetoi {
            
            .innersub{

            
            
            position: absolute;
            width: 70%;
            height: 40rem;
            border-radius: 13px;
            display: flex;
            align-items: center;
            flex-direction: column;
            left: 50%;
            transform: translate(-50%, 0%);
            background-color: white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            .prix {
                font-size: 5rem;
                font-family: 'AvenirNextLTPro-Demi';
                color: #5AD6D9;
                text-align: center;
                margin-top: 3rem;
            }
            p {
                font-size: 1.7rem;
                font-family: 'AvenirNextLTPro-Demi';
                line-height: 3.5rem;
            }
            button {
                position: absolute;
                bottom: 3rem;
                left: 50%;
                transform: translate(-50%, 0%);
                text-transform: uppercase;
            }
            }
        }
        
        .paiement{
            ion-item{
                &.item-ios{
                    background-color: transparent;
                    border: solid white 1.5px;
                    border-radius: 5px;
                }
            }
            
            ion-label{
                margin-bottom: 0.25rem;
                margin-top: 1.5rem;
                color: white;
            }
            
            article{
                
            .boutons{
                position: absolute;
                bottom: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                button{
                    background-color: black;
                    border-radius: 50px;
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                    color: white;
                    font-size: 1.7rem;
                    position: absolute
                }
                .fofa{
                                        font-family: 'AvenirNextLTPro-Regular';

                }
                }
            }
        }
        
    }
    .back {
        font-size: 30px;
        position: relative;
        z-index: 9;
    }
    .arrow {
        margin-left: 15px;
    }
    .toolbar {
        .toolbar-background {
            border-bottom: 0;
            background: transparent;
        }
    }
}

.ios {
    ion-modal {
        .modal-wrapper {
            transform: none;
        }
        page-modal {
            .content {
                top: 0;
            }
        }
    }
}

.md .modal-wrapper {
    transform: none;
}

ion-modal {
    .modal-wrapper {
        opacity: 1 !important;
    }
}