<!--
  Generated template for the SubscribePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="{{ vue == 'pay' ? 'pay' : 'paiement' }}">

  <ion-icon class="fermer" name="close" (tap)="dismiss()"></ion-icon>


  <section class="abonnetoi" *ngIf="vue == 'pay'">
    <h2>Abonne toi</h2>
    <div class="innersub">
      <article>
        <div class="prix">15€</div>
        <p> - 3 events assurés / mois
          <br />- Plein de rencontres
          <br /> - Une expérience folle
        </p>
        <button ion-button round color="black" (tap)="goPaiement()">S'abonner</button>
      </article>
    </div>
  </section>

  <section class="paiement" *ngIf="vue == 'paiement'">
    <article>
      <h2>Paiement</h2>
      <form [formGroup]="user" (ngSubmit)="setUser()">
        <ion-label>Numéro de carte</ion-label>
        <ion-item>
          <ion-input type="number"  formControlName="numero" placeholder="1111 0000 0000 0000"></ion-input>
        </ion-item>
          <ion-label>Date d'expiration</ion-label>
        <ion-item>
          <ion-input type="number"  formControlName="mois" placeholder="00"></ion-input>
          <ion-input type="number"  formControlName="annee" placeholder="2000"></ion-input>
        </ion-item>
          <ion-label>Code de sécurité</ion-label>
        <ion-item>
          <ion-input type="number"  formControlName="code" placeholder="000"></ion-input>
        </ion-item>
        <div class="boutons">
          <button ion-button round color="black" type="submit" [disabled]="!user.valid"><span class="fofa">Valider</span> <ion-icon name="md-arrow-forward" class="arrow"></ion-icon></button>
        </div>
      </form>
    </article>
  </section>

  <section class="paiement" *ngIf="vue == 'top'">
    <article>
      <h2>Top</h2>
      <p>Un mail de confirmation t’a été envoyé.</p>
      <button ion-button round color="black" (tap)="dismiss(true)"> Retourner dans l'app </button>
    </article>
  </section>

</ion-content>
