<ion-header>
  <ion-navbar>
    <ion-title>
      Explore Etok
        <div class="icons">
            <img src="../assets/imgs/user_check.png" (tap)="account()"/>
            <ion-badge item-end>2</ion-badge>
            <img src="../assets/imgs/search.svg" (tap)="search()" class="search"/>
        </div>
    </ion-title>
  </ion-navbar>
  <div padding>
    <ion-segment [(ngModel)]="filter" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="populaire">
          <span>A proximité</span>
      </ion-segment-button>
      <ion-segment-button value="aproximite">
          <span>Tendances</span>
      </ion-segment-button>
      <ion-segment-button value="goumandise">
          <span>Gourmands</span>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content padding>

    <ion-scroll scrollX="true" direction="x">

      <ion-card text-wrap class="text" *ngFor="let item of expService.experience | async">
          <div class="card-content" (tap)="details(item.id)">
            <div class="card-subtitle title">{{ item.titre }}</div>
            <div class="card-subtitle timer">{{ item.timer }}</div>
            <div class="card-subtitle places">{{ item.places }} places</div>
          </div>
          <div class="degrade"></div>
        <img src="{{ item.img['01'] }}" />
      </ion-card>
    </ion-scroll>
</ion-content>
