page-home {
    .fixed-content + .scroll-content {
        padding: 0 !important;
    }

    .search {
        margin-left: 25px;
    }

    ion-card {
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    background-image: url('../assets/imgs/rectangle.svg');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;

    .scroll-zoom-wrapper {
        .card {
            &:first-child {
                margin-left: 25px !important;
            }
        }
    }

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }
    
    .ion-title.title.title-ios{
        padding: 0;
    }
    ion-header{ 
        padding-top: 6rem;
        
        ion-navbar{
            ion-title{
                .toolbar-title-ios{
                    text-align: left;
                    color: white;
                    font-size: 2.5rem;
                    display: flex;
                    justify-content: space-between;
                    overflow: visible;
                }
                &.title-ios{
                    padding: 0!important;
                    padding: 0px 25px!important;

                }
                
                .icons{
                    display: flex;
                    .badge-ios{
                        background-color: white;
                        color: #5AD4DB;
                        padding: 2px 4px;
                        font-size: 0.8rem;
                        position: relative;
                        top: -0.5rem;
                        left: -0.3rem;
                        align-self: flex-start;
                        
                    }
                    
                    img{
                        height: 2rem;
                    }
                }
                
            }
        }

        .toolbar-background-ios{
                background-color: transparent!important;
            }
        
        ion-segment{
            & *{
                color: white;
            }
            &.segment-ios .segment-button{
                border: none!important;
                color: white;
                font-weight: 800;
                font-size: 18px !important;
                    &.segment-activated{
                        border-bottom: 0 !important;
                        background-color: transparent!important;
                        span {
                            padding-bottom: 2px;
                            border-bottom: solid white 2px!important;
                        }
                    }
                &:first-of-type, &:last-of-type{
                border-radius: 0px!important;
                }
                }
            ion-segment-button{
                color: white;
            }
        }
    }

    ion-content {
        &.content-ios {
            background-color: transparent;
        }
        
        ion-item {
        &.item-ios {
            background-color: transparent;
        }
    }
    }
    
    
    
    ion-card {
        display: inline-block;
        touch-action: initial !important;
        &.card-ios {
            overflow: hidden;
            border-radius: 1.3rem;
            position: relative;
            height: 60vh;
            width: 70vw;
            background-color:#fff;
            box-shadow: 0 7px 10px 0px rgba(0, 0, 0, 0.15)

            img{
                z-index: 0;
                height: 60vh;
                object-fit: cover;
                min-width: 100%;
                width: auto;
            }
            
            div{
                &.card-content{
                    touch-action: initial !important;
                    padding: 1.5rem;
                    position: absolute;
                    z-index:5;
                    background-color: transparent;
                    height: 100%;
                    width: 100%;
                }
                &.title{
                    margin-top: 4rem;
                    font-family: 'AvenirNextLTPro-Demi';
                    color: white;
                    font-size: 1.7rem;
                    line-height: 2.2rem;

                }
                &.timer{
                    position: absolute;
                    bottom: 3rem;
                    text-transform: uppercase;
                    color: white;
                    left: 1.5rem;
                    font-family: 'AvenirNextLTPro-Demi';
                }
                &.places{
                    right:1.5rem;
                    text-align: left;
                    position: absolute;
                    bottom: 3rem;
                    color: white;
                    font-family: 'AvenirNextLTPro-Demi';
                }
                &.degrade{
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0.7));
                }
            }
            
        }
    }
    ion-scroll {
        min-height: 65vh;
        height: auto;
        .scroll-content {
            padding: 0px !important;
        }
    }
}