// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url("../assets/fonts/avenir-next-font/stylesheet.css");

body, span, p, input, *::placeholder, ion-segment-button, .boutons button, ion-checkbox, .voirlieu {
  font-family: 'AvenirNextLTPro-Regular';
}

h1, h2, h3, .toolbar-title{
    font-family: 'AvenirNextLTPro-Demi';
}

.back-button {
color: white !important;
  padding-left: 16px;
}

.back-button-text {
  display: none;
}