page-search {
    
    background-image: url('../assets/imgs/rectangleinscription.svg') !important;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    
    .toolbar {
    .toolbar-background {
      border-bottom: 0;
      background: transparent;
    }
  }
  ion-card {
  img {
    object-fit: cover;
    height: 100%;
  }
}
    h2{
        margin-top: 2rem;
        color: white;
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 2.7rem;
        padding: 0.3rem 1.5rem;
    }

  ion-card {
    display: inline-block;
    touch-action: initial !important;
    margin-bottom: 30px !important;
    &.card-ios {
      overflow: hidden;
      border-radius: 1.3rem;
      position: relative;
      height: 60vh;
      width: initial;
      background-color:#fff;
      box-shadow: 0 7px 10px 0px rgba(0, 0, 0, 0.15)

      img{
        z-index: 0;
        height: 60vh;
        object-fit: cover;
        min-width: 100%;
        width: auto;
      }

      div{
        &.card-content{
          touch-action: initial !important;
          padding: 1.5rem;
          position: absolute;
          z-index:5;
          background-color: transparent;
          height: 100%;
          width: 100%;
        }
        &.title{
          margin-top: 4rem;
          font-family: 'AvenirNextLTPro-Demi';
          color: white;
          font-size: 1.7rem;
          line-height: 2.2rem;

        }
        &.timer{
          position: absolute;
          bottom: 3rem;
          text-transform: uppercase;
          color: white;
          left: 1.5rem;
          font-family: 'AvenirNextLTPro-Demi';
        }
        &.places{
          right:1.5rem;
          text-align: left;
          position: absolute;
          bottom: 3rem;
          color: white;
          font-family: 'AvenirNextLTPro-Demi';
        }
        &.degrade{
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
          background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0.7));
        }
      }

    }
  }

    ion-searchbar{
        padding: 0rem 1.5rem!important;
        input{
            &.searchbar-input{
                background-color: transparent!important;
                padding: 2rem 3.5rem!important;
                border: solid 2px white;
                color: white!important;
                font-size: 1.7rem!important;
                &::placeholder{
                    color: white!important;
                    font-size: 1.8rem;
                }
            }
            
        }
        &.searchbar{
            &.searchbar-ios{
                &.searchbar-left-aligned{
                    background-color: transparent;
                    .searchbar-input-container{
                        background-color: transparent;
                    .searchbar-search-icon{
                width: 2rem;
                height: 2.5rem;
                        background-size: 2rem;
                        background-position: center;
            }
                    }
                }
            }
        }
    }
    
    ion-content{
            &.content{
                &.content-ios{
        background-color: transparent;
            }
        }
    }

}
