<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>
    <h2>Rechercher</h2>
  <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>

</ion-header>


<ion-content padding>

  <ion-card text-wrap class="text" *ngFor="let item of expService.search | async">
    <div class="card-content" (tap)="details(item.id)">
      <div class="card-subtitle title">{{ item.titre }}</div>
      <div class="card-subtitle timer">{{ item.timer }}</div>
      <div class="card-subtitle places">{{ item.places }} places</div>
    </div>
    <div class="degrade"></div>
    <img src="{{ item.img['01'] }}" />
  </ion-card>

</ion-content>
