<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <div padding-top text-center *ngIf="username">
    <img src="../assets/imgs/etok.png" alt="avatar" class="avatar">
    <p class="username">{{ username }}</p>
    <p class="statut">Ambassadeur</p>
    <ion-list inset>

      <button ion-item (click)="updatePicture()">Mes évènements passés <ion-badge item-end color="green">2</ion-badge></button>
      <button ion-item (click)="changeUsername()">Moyen de paiement</button>
      <button ion-item (click)="changePassword()">Contactez-nous</button>
      <button ion-item (click)="support()">Notez-Nous</button>
      <button ion-item (click)="logout()">Mentions légales</button>

    </ion-list>
  </div>
</ion-content>
