page-account {

    background-image: url('../assets/imgs/rectanglecompte.svg');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    
    .toolbar {
    .toolbar-background {
      border-bottom: 0;
      background: transparent;
    }
  }
    
    
    ion-navbar{
        
     .toolbar-background{
         &.toolbar-background-ios{
             background-color: transparent;
         }
        }
    }
    
    ion-content{
        z-index: 1;
        &.outer-content{
            &.content{
                &.content-ios{
        background-color: transparent;
    }
            }
        }
        
    }
    

  .avatar {
    max-width: 14rem;
    max-height: 14rem;
      box-shadow: 0px 0px 20px rgba(90, 216, 215, 0.9);
    border-radius: 50%;
  }
    
    .username{
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 2rem;
        margin:0rem;
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }
    
    .statut{
        display: inline-block;
        margin: 0 auto;
        background-color: #5AD8D7;
        border-radius: 20px;
        font-family: 'AvenirNextLTPro-Demi';
        color: white;
        padding: 0.9rem 1.5rem;
        color: white;
    }
    
    ion-list{
        margin-top: 5.5rem!important;
        button{
            &.item{
                &.item-block{
                    &.item-ios{
                        border-color: rgba(90, 216, 215, 0.25);
                        &:first-child{
                        border-top: solid 1px rgba(90, 216, 215, 0.25);
                        }
                    }
                }
            }
        }
        
            .label{
                &.label-ios{
        font-family: 'AvenirNextLTPro-Demi';
                }
            }
    }

  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  ion-card {
    width: 200px !important;
    display: inline-block;
    touch-action: initial !important;
  }

  ion-scroll {
    min-height: 215px;
    height: auto;

    .scroll-content {
      padding: 0px !important;
    }
  }
}
