page-details {
  .scroll-content {
    padding-bottom: 140px !important;
    margin-top: 0 !important;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: white;
      opacity: 0.7;
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }


  .toolbar {
    .toolbar-background {
      border-bottom: 0;
      background: transparent;
    }
  }
  section {
    padding: 0 10px;
  }

  ion-scroll {
    min-height: 50px;
    height: auto;
    .scroll-zoom-wrapper {
      white-space: nowrap;
    }

    .scroll-content {
      padding-bottom: 0 !important;
      padding: 0 !important;
    }
  }

  ion-slides {
    height: 229px;
    width: 100vw !important;
    margin-bottom: 20px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .participant {
    display: flex;
    img {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 44px;
      margin-right: 15px;
      object-fit: cover;
    }
  }

  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    z-index: 2;
    box-shadow: 0 5px 15px 5px rgba(0,0,0,0.10);
    padding: 10px 25px 25px 25px;
    span {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
    }
    button {
      margin-top: 15px;
      padding: 15px;
      width: 100%;
      color: white;
      background: #000;
    }
  }

  .description, .participe {
    padding-bottom: 16px;
    border-bottom: 1px solid #E3E2E2 !important;
  }

  .head {
    justify-content: space-between;
    padding-bottom: 27px;
    border-bottom: 1px solid #E3E2E2;
    &::before, &::after {
      content: '';
      display: block;
      clear: both;
    }
    h2 {
      margin: 0;
      font-size: 20px;
      display: block;
      width: 60%;
      float: left;
    }
    .time {
      padding: 8px 13px;
      border-radius: 6px;
      background-color: #5AD5D9;
      font-size: 16px;
      color: white;
      font-weight: bold;
      float: right;
    }
  }
  .lieu {
    button {
      padding: 5px 20px;
      text-transform: uppercase;
      font-size: 15px;
      background: #5ad5d9;
      color: white;
      border-radius: 40px;
      margin-left: 20px;
    }
  }
  h3 {
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 18px;
  }
  p {
    font-size: 15px;
  }
    
    ion-content{
        section{
            article{
                .voirlieu{
                    display: inline-block;
                    width: 10rem;
                    margin: 0 auto;
                    position: relative;
                }
            }
        }
    }

}
