<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-bottom *ngIf="expService.detail">
    <ion-slides pager="true" *ngIf="expService.detail">
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{ expService.detail['img']['01'] }}">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{ expService.detail['img']['02'] }}">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{ expService.detail['img']['03'] }}">
            </div>
        </ion-slide>
    </ion-slides>

      <section>
        <article class="head">
          <h2>{{ expService.detail['titre'] }}</h2>
          <span class="time">{{ expService.detail['timer'] }}</span>
        </article>

        <article class="description">
          <h3>Description</h3>
          <p>{{ expService.detail['description'] }}</p>
        </article>

        <article class="participe">
          <h3>Participants</h3>
          <ion-scroll scrollX="true" direction="x">
            <div class="participant">
              <img src="{{ expService.detail['participants']['01'] }}" />
              <img src="{{ expService.detail['participants']['02'] }}" />
              <img src="{{ expService.detail['participants']['03'] }}" />
            </div>
          </ion-scroll>
        </article>

    <article class="lieu">
      <h3>Lieu</h3>
      <span>{{ expService.detail.lieu['adresse'] }}</span> <button class="voirlieu" src="expService.detail.lieu['link']">Voir</button>
    </article>
  </section>
</ion-content>

<section class="fixed" *ngIf="expService.detail">
    <span>Plus que {{ expService.detail['places'] }} places</span>
    <button ion-button round color="light" (tap)="subscribe()">j'y vais</button>
</section>
